:root {
  /* solid */

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  /* Gradiente para ser usado em before H1 */
  --gradiente-ouro: linear-gradient(
    45deg,
    var(--orange-yellow-crayola),
    var(--vegas-gold)
  );

  /* Gradiente para ser usado em before H2 */
  --vermelho-destaque: linear-gradient(
    135deg,
    #ff5733,
    #f44336,
    #d32f2f
  ); /* Gradiente do vermelho */ /* Cor vermelha para o detalhe */
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--smoky-black);
  line-height: 1.8;
  padding: 10px 0px;
  scroll-behavior: smooth;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

.container {
  width: 100%;
  max-width: 990px;
  margin: auto;
}

a {
  text-decoration: none;
}
