:root {
  /* solid */

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);

  /* Gradiente para ser usado em before H1 */
  --gradiente-ouro: linear-gradient(
    45deg,
    var(--orange-yellow-crayola),
    var(--vegas-gold)
  );

  /* Gradiente para ser usado em before H2 */
  --vermelho-destaque: linear-gradient(135deg, #ff5733, #f44336, #d32f2f);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--smoky-black);
  line-height: 1.8;
  padding: 10px 0px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

/*classe que limita o tamanho de todo o conteudo*/
.container {
  width: 100%;
  max-width: 990px;
  margin: 10px auto;
}

a {
  text-decoration: none;
}

/* Estilo das seções para manter a largura e o alinhamento */
.section {
  display: none; /* Inicialmente ocultar todas as seções */
  width: 100%;
  padding: 20px;
  opacity: 0; /* Começa invisível */
  transform: translateY(20px); /* Começa deslocada para baixo */
  transition: opacity 1s ease, transform 1s ease; /* Transição suave */
}

/* Quando a seção for exibida, ela ficará visível */
section.show {
  opacity: 1;
  transform: translateY(0); /* Volta para a posição original */
}

/* Mostrar a seção ativa */
.section.active {
  display: block;
  opacity: 1; /* Torna a seção visível */
}

h2 {
  position: relative;
}

/* Linha decorativa ao lado do h2 */
h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px; /* Comprimento da linha */
  height: 2rem; /* Espessura da linha */
  background: var(--vermelho-destaque); /* Cor da linha */
  border-radius: 2px;
  left: -10px; /* Ajuste a posição da linha */
  top: 50%; /* Alinha a linha ao centro do h2 */
  transform: translateY(-50%); /* Ajusta para centralizar verticalmente */
}

/* Estilo para o main */
main {
  display: block;
  width: 100%;
}
