/* Estilos do Header e Menu */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Garante que o logo fique à esquerda e o menu à direita */
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.3));
  border: 1px solid var(--borda);
  position: relative;
  padding: 1rem;
  font-size: 1rem;
}

/* Linha decorativa no topo da seção */
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      var(--orange-yellow-crayola),
      rgba(255, 255, 255, 0));
}

/* Linha decorativa no rodapé da seção  */
header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      var(--orange-yellow-crayola),
      rgba(255, 255, 255, 0));
}

/* Estilos para o logo */
.logo h1 {
  font-size: 2.5rem;
  font-weight: bold;
  background: var(--gradiente-ouro);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  text-align: left;
  /* Garante que o texto do logo fique à esquerda */
  position: relative;
  transition: transform 0.3s ease;
}

.logo h1::before {
  content: "";
  /* Necessário para o pseudo-elemento */
  position: absolute;
  z-index: -1;
  top: 50%;
  /* Centraliza verticalmente */
  left: 50%;
  /* Posiciona a imagem à direita */
  transform: translateY(-50%);
  /* Ajusta para centralizar */
  width: 50px;
  /* Ajuste a largura da imagem */
  height: 50px;
  /* Ajuste a altura da imagem */
  background-image: url("../imagens-contato/code.svg");
  background-size: cover;
  /* Faz a imagem cobrir o espaço definido */
  background-position: center;
  /* Centraliza a imagem */
}

/* Menu de navegação */
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* Alinha o menu à direita */
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
  background-color: var(--eerie-black-2);
}

/* Links do menu */
nav a {
  color: var(--white-1);
  text-decoration: none;
  padding: 1rem 1.5rem;
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

/* Efeito no hover para os links do menu */
nav a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--orange-yellow-crayola);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

/* Quando um link está ativo, a linha aparece */
nav a.active::after {
  width: 100%;
}

/* Efeito de hover: a linha aparece ao passar o mouse */
nav a:hover::after {
  width: 100%;
}

/* Cor do link ativo */
nav a.active {
  color: var(--orange-yellow-crayola);
}

/* Mantém a cor no hover */
nav a:hover {
  color: var(--orange-yellow-crayola);
}


/* Media query para dispositivos maiores */
@media (min-width: 768px) {
  header {
    padding: 1rem 4rem;
    /* Ajusta o padding no desktop */
  }

  /* Seções do header no desktop */
  .logo h1 {
    font-size: 3rem;
    /* Aumenta o tamanho do logo no desktop */
  }

  nav a {
    font-size: 1.2rem;
    /* Ajusta o tamanho da fonte para links do menu */
  }
}